/* body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #34495e;
}

a {
  text-decoration: none;
  color: #3498db;
}

button {
  border-radius: 8px !important;
  text-transform: none !important;
} */
body {
  font-family: "Noto Sans Ethiopic", "Roboto", sans-serif;
}
